/*
* CARDS
*/
.card {
  flex: 0 1 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.card-image {
  display: block;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: auto; }

.card-content {
  padding: 20px 40px;
  padding-bottom: 40px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
  background-color: white;
  color: #323232; }
  .card-content h1 {
    margin: 0;
    padding: 0; }

.card-details {
  line-height: 1.7rem; }

.card-links {
  line-height: 1.7rem;
  display: flex; }
  .card-links a {
    flex: 1 1 40%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  text-decoration: none;
  font-size: 16px;
  font-family: Montserrat, sans-serif; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #191919; }
  a a:hover {
    color: red;
    transition: 0.3s; }

ul {
  list-style: none; }

.logo {
  display: none;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 600; }

.nav-wrapper {
  position: fixed;
  width: 100%;
  transition: background-color 200ms linear;
  font-weight: bold;
  /*Below Mainly for the hover-effect*/ }
  .nav-wrapper .nav-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav-wrapper .nav-item {
    padding: 20px 5px; }
  .nav-wrapper a {
    text-decoration: none;
    color: #fafafa;
    position: relative; }
  .nav-wrapper .nav-items {
    display: flex; }
    .nav-wrapper .nav-items a:after,
    .nav-wrapper .nav-items a:visited:after {
      content: "";
      height: 3px;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      background: #fafafa;
      transition: 0.2s; }
    .nav-wrapper .nav-items a:hover:after,
    .nav-wrapper .nav-items a:visited:hover:after {
      width: 100%; }

.nav-wrapper.scrolled {
  background-color: rgba(25, 25, 25, 0.9);
  transition: background-color 200ms linear; }

.parallax {
  background-image: url("../images/chopstix.jpg");
  height: 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.splash-container {
  height: 70vh;
  display: flex;
  background-color: rgba(25, 25, 25, 0.3);
  color: #fafafa; }

.splash {
  margin: auto;
  display: flex;
  flex-direction: column;
  /*MENU Button in Splash*/ }
  .splash .title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-top: 60px; }
  .splash p {
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 3px 3px rgba(25, 25, 25, 0.3); }
  .splash a {
    font-size: 1.2rem;
    background-color: #af3632;
    font-weight: bold;
    color: #fafafa;
    padding: 15px 20px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s; }
  .splash a:hover {
    background-color: rgba(175, 54, 50, 0.8);
    transition: 0.3s; }

.about-container {
  background-color: #191919; }
  .about-container .about {
    color: #f0f0f0;
    padding: 20px;
    margin: auto;
    text-align: center; }
    .about-container .about p {
      font-size: 1.2rem;
      padding: 0.5rem 0; }

.locations-container {
  background-color: #f0f0f0;
  padding-bottom: 40px; }
  .locations-container .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .locations-container .title {
    color: #191919;
    padding: 40px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }

.footer {
  color: #fafafa;
  background-color: #191919;
  padding: 1rem;
  text-align: right; }

@media only screen and (min-width: 767px) {
  .logo {
    display: block;
    font-size: 2rem;
    margin-right: auto; }
  .nav-container {
    justify-content: flex-start; }
  .splash .title {
    font-size: 3rem; }
  .splash p {
    font-size: 2rem;
    margin: 0; }
  .about {
    width: 700px; }
  .about-container {
    padding: 20px; }
    .about-container .about {
      padding: 20px; }
      .about-container .about p {
        font-size: 1.2rem; }
  /*Enables parallax for larger screens*/
  .parallax {
    background-attachment: fixed; }
  /*
  * CARDS
  */
  .card {
    flex-basis: 30%; } }

@media only screen and (min-width: 1600px) {
  .nav-container {
    margin: 0 auto;
    width: 1600px; }
  .locations {
    margin: 0 auto;
    width: 1600px;
    padding: 0; }
  .card {
    width: 32%; } }
