$primary-font: Montserrat, sans-serif;
$primary-dark: rgb(30,30,30); 
$primary-dark-transparent: rgba(30,30,30,.3); 
$primary-dark-opaque:rgba(30,30,30, .5);
$primary-dark-opaquer: rgba(30,30,30, .9);

$primary-darker: rgb(20,20,20); 
$not-so-white: rgb(250,250,250);
$greyish-white: rgb(235,235,235);