$primary-font: Montserrat, sans-serif;

$dark-font: rgb(200,200,200);
$body-text: #323232;

$primary-dark: rgb(25,25,25); 
$primary-dark-transparent: rgba(25,25,25,.3); 
$primary-dark-opaque:rgba(25,25,25, .5);
$primary-dark-opaquer: rgba(25,25,25, .9);

$primary-red: rgb(175, 54, 50);
$primary-subdued-red: rgba(175, 54, 50, .8);

$primary-darker: rgb(25,25,25); 
$not-so-white: rgb(250,250,250);
$greyish-white: rgb(240,240,240);

$width_widescreen: 1600px;
$gutter: 20px;
$gutter-wide: 40px;