$primary-font: Montserrat, sans-serif;
$primary-dark: rgb(20,20,20); 
$primary-dark-transparent: rgba(20,20,20, .5); 
$primary-dark-opaque:rgba(20,20,20, .7);
$not-so-white: rgb(250,250,250);
$greyish-white: rgb(235,235,235);


$width_widescreen: 1600px;

body {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: $primary-font;
    width: 100%;
}


a {
    text-decoration: none;
    color: $primary-dark;

    a:hover {
        color: red;
        transition: .3s;
    }
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  /*background-color: $primary-dark;*/
  .nav-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 10px;
  }

  a {
      text-decoration: none;
      color: $not-so-white;
      position: relative;
  }

  .nav-items {
      display: flex;

      a:after, a:visited:after {
          content: '';
          height: 3px;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0%;
          background: $not-so-white;
          transition: 0.2s;
      }

      a:hover:after, a:visited:hover:after {
          width: 100%;
      }
  }

  .nav-item {
      font-weight: bold;
      padding: 10px 20px;
  }
}

.logo {
  margin-left: 0;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 600;
}

.parallax {
    background-image: url("../images/chopstix.jpg");

    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-two{
  background-color: $primary-dark;
}
.splash {
  padding: 22vh 0vh 20vh 0vh;
  width: 100%;
  color: $not-so-white;
  background-color: $primary-dark-transparent;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 3rem;
    padding: 0;
  }
  p {
      font-size: 2rem;
      padding: 1rem;
      margin: auto;
      align-items: center;
      text-align: center;
      text-shadow: 3px 3px $primary-dark-transparent;
  }

  a {
    font-size: 2rem;
    background-color: $primary-dark;
    color: $not-so-white;
    padding: 1rem;
    margin: 2rem auto;
    border: solid 2px;
    align-items: center;
    text-align: center;
  }
}


.wrapper {
  display: flex;
}
.about-container {
  background-color: $primary-dark;
  .about {
    color: $not-so-white;
    padding: 2rem;
    margin: auto;
  
    p{
      font-size: 1.2rem;
      padding: .5rem 0;
      text-align: center;
    }
  }
}

.locations {
  margin: auto;
  width: 100%;
  background-color: $not-so-white;
  .locations-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title{
    color: $primary-dark;
    padding: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

}


.footer {
  color: $not-so-white;
  background-color: $primary-dark;
  padding: 1rem;
  text-align: right;
}
  
  
/*
* CARDS
*/
.card {
  background-color: $not-so-white;
  color: $primary-dark;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 3px $primary-dark solid;
  margin: 0 .5rem;
  margin-bottom: 2rem;

  
  .card-title {
    padding-top: 1rem;
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  

  .card-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0rem;
    text-align: center;
    li {
      line-height: 1.5rem;
    }
  }
  
  .card-description {
    font-size: 1.2rem;
    font-weight: bold;
    overflow-wrap: break-word;
    vertical-align: center;
    width: 100%;

    p {
      line-height: 1.5 rem;
    }
  }

  .card-links {
    li{
      margin-right: 1rem;
      padding: .5rem 0;
    }
    i {
      padding-right: 1rem;
    }
    a {
      color: $not-so-white;
      padding: .5rem;
      border: solid 1px;
    }
    a:hover {
      color: rgb(255, 80, 80);
      transition: .3s;
    }
  }
}

  
  
    
@media only screen and (min-width:700px) {
  .logo{
    font-size: 2rem;
    margin-left: 0;
  }

  .splash span {
    padding: 25vh 15vw;
  }

  .parallax-two{
    background-image: url("../images/chopstix_splash.jpg");
  
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*
  * CARDS
  */

  .card {
    width: 45%;
    margin: 1rem auto;

    /* Height of the Card's flavortext */
    .card-description {
      height: 2rem;
    }

    .card-info {
      display: inline;
    }

    .hours p{
      font-size: 1.2rem;
      padding-bottom: .1rem;
    }
  }


}
@media only screen and (min-width:1000px) {
  .logo{
    font-size: 2rem;
    margin-left: 0;
  }

  /*
  * CARDS
  */

  .card {
    width: 31%;
  }


}


@media only screen and (min-width: 1600px) {

  .nav-container{
    margin: 0 auto;
    width: 1600px;
  }

  .splash {
    padding: 22vh 0vh 20vh 0vh;
  }
  
  .title{
    text-align: center;
  }

  .about {
    width: $width_widescreen;
  }


  .locations-container {
    margin: 0 auto;
    width: $width_widescreen;
    padding: 0;
  }
  .card {
    margin: 1rem;
    width: 32%;
    margin: 1rem auto;
  }
}