@import 'reset';
@import 'palette';
@import 'cards';

$width_widescreen: 1600px;

body {
    text-decoration: none;
    font-size: 16px;
    font-family: $primary-font;
    width: 100%;
}


a {
    text-decoration: none;
    color: $primary-dark;

    a:hover {
        color: red;
        transition: .3s;
    }
}

ul {
    list-style: none;
}

.logo {
  margin: auto;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  transition: background-color 200ms linear;
  font-weight: bold;

  .nav-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .nav-item {
      padding: .5rem;
  }

  a {
    text-decoration: none;
    color: $not-so-white;
    position: relative;
  }

  /*Below Mainly for the hover-effect*/
  .nav-items {
    display: flex;

    a:after, a:visited:after {
      content: '';
      height: 3px;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      background: $not-so-white;
      transition: 0.2s;
    }

    a:hover:after, a:visited:hover:after {
        width: 100%;
    }
  }
}

.nav-wrapper.scrolled {
  background-color: $primary-dark-opaquer;
  transition: background-color 200ms linear;
}

.parallax {
    background-image: url("../images/chopstix.jpg");

    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.splash-container {
  height: 70vh;
  display: flex;
  background-color: $primary-dark-transparent;
  color: $not-so-white;
}

.splash {
  margin: auto;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 2rem;
    padding: 0;
  }
  p {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    text-shadow: 3px 3px $primary-dark-transparent;
  }

  /*MENU Button in Splash*/
  a {
    font-size: 1.2rem;
    background-color: $primary-dark-opaquer;
    font-weight: bold;
    color: $not-so-white;
    padding: 1rem;
    margin: auto;
    border: solid 2px;
    text-align: center;
    border-radius: 5px;
  }
}


.about-container {
  background-color: $primary-dark;
  padding: 1rem;
  .about {
    border-top: solid $not-so-white 2px;
    border-bottom: solid $not-so-white 2px;
    color: $not-so-white;
    padding: .5rem;
    margin: auto;
    text-align: center;
  
    p{
      font-size: 1.2rem;
      padding: .5rem 0;
    }
  }
}

.locations-container {
  margin: auto;
  width: 100%;
  background-color: $not-so-white;

  .locations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title{
    color: $primary-dark;
    padding: 1rem;
    font-size: 2rem;
    margin: auto;
    border: 2px solid $primary-dark;
    font-weight: bold;
    text-align: center;
  }

}


.footer {
  color: $not-so-white;
  background-color: $primary-dark;
  padding: 1rem;
  text-align: right;
}
  

  
  
    
@media only screen and (min-width:700px) {
  .logo{
    font-size: 2rem;
    margin-left: 0;
  }

  .nav-container {
    padding: 1rem 0;

    .nav-item {
      padding: 1rem;
      font-size: 1.2rem;
    }

  }

  .splash {
    .title {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }


  .about-container {
    padding: 2rem;
    .about {
      padding: 1rem;
    
      p{
        font-size: 1.2rem;
      }
    }
  }


  /*Enables parallax for larger screens*/
  .parallax {
    background-attachment: fixed;
  }

  /*
  * CARDS
  */

  .card {
    width: 45%;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: $width_widescreen) {

  .nav-container {
    margin: 0 auto;
    width: $width_widescreen;
  }

  .about {
    width: $width_widescreen;
  }


  .locations-container {
    margin: 0 auto;
    width: $width_widescreen;
    padding: 0;
  }
  .card {
    width: 32%;
    margin: 1rem auto;
  }
}