@import "palette";
@import "cards";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-decoration: none;
  font-size: 16px;
  font-family: $primary-font;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary-dark;
  a:hover {
    color: red;
    transition: 0.3s;
  }
}

ul {
  list-style: none;
}

.logo {
  display: none;
  padding: 0 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  transition: background-color 200ms linear;
  font-weight: bold;

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-item {
    padding: 20px 5px;
  }

  a {
    text-decoration: none;
    color: $not-so-white;
    position: relative;
  }

  /*Below Mainly for the hover-effect*/
  .nav-items {
    display: flex;

    a:after,
    a:visited:after {
      content: "";
      height: 3px;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      background: $not-so-white;
      transition: 0.2s;
    }

    a:hover:after,
    a:visited:hover:after {
      width: 100%;
    }
  }
}

.nav-wrapper.scrolled {
  background-color: $primary-dark-opaquer;
  transition: background-color 200ms linear;
}

.parallax {
  background-image: url("../images/chopstix.jpg");

  height: 100%;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.splash-container {
  height: 70vh;
  display: flex;
  background-color: $primary-dark-transparent;
  color: $not-so-white;
}

.splash {
  margin: auto;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-top: 60px;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 3px 3px $primary-dark-transparent;
  }

  /*MENU Button in Splash*/
  a {
    font-size: 1.2rem;
    background-color: $primary-red;
    font-weight: bold;
    color: $not-so-white;
    padding: 15px 20px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
  }

  a:hover {
    background-color: $primary-subdued-red;
    transition: 0.3s;
  }
}

.about-container {
  background-color: $primary-dark;
  .about {
    color: $greyish-white;
    padding: $gutter;
    margin: auto;
    text-align: center;

    p {
      font-size: 1.2rem;
      padding: 0.5rem 0;
    }
  }
}

.locations-container {
  background-color: $greyish-white;
  padding-bottom: $gutter-wide;
  .locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .title {
    color: $primary-dark;
    padding: 40px 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

.footer {
  color: $not-so-white;
  background-color: $primary-dark;
  padding: 1rem;
  text-align: right;
}

@media only screen and (min-width: 767px) {
  .logo {
    display: block;
    font-size: 2rem;
    margin-right: auto;
  }

  .nav-container {
    justify-content: flex-start;
  }

  .splash {
    .title {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
      margin: 0;
    }
  }

  .about {
    width: 700px;
  }

  .about-container {
    padding: $gutter;
    .about {
      padding: $gutter;
      p {
        font-size: 1.2rem;
      }
    }
  }

  /*Enables parallax for larger screens*/
  .parallax {
    background-attachment: fixed;
  }

  /*
  * CARDS
  */

  .card {
    flex-basis: 30%;
  }
}

@media only screen and (min-width: $width_widescreen) {
  .nav-container {
    margin: 0 auto;
    width: $width_widescreen;
  }

  .locations {
    margin: 0 auto;
    width: $width_widescreen;
    padding: 0;
  }
  .card {
    width: 32%;
  }
}
